<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akciğer Kanseri Tahmini</title>
</head>
<body>

    <div>
    <h1>Akciğer Kanseri Tahmini</h1>

    <form action="{{ url_for('predict')}}"method="post">
        Smoking: <input type="text" name="Pregnancies" id="Pregnancies" placeholder="Smoking">
        <br> <br>
        Age: <input type="text" name="Glucose" id="Glucose" placeholder="Age">
        <br> <br>
        Gender: <input type="text" name="Blood" id="Blood" placeholder="Gender">
        <br> <br>
        Air Pollution: <input type="text" name="Skin" id="Skin" placeholder="Air Pollution">
        <br> <br>
        Alcohol use: <input type="text" name="Insulin" id="Insulin" placeholder="Alcohol use">
        <br> <br>
        Obesity: <input type="text" name="bmi" id="bmi" placeholder="Obesity">
        <br> <br>
        Dust Allergy: <input type="text" name="PedigreeFunction" id="PedigreeFunction" placeholder="Dust Allergy">
        <br> <br>
        Genetic Risk: <input type="text" name="age" id="age" placeholder="Genetic Risk">
        <br> <br>
        <button type="submit">Predict</button>

    </form>
    <br><br>
    {{pred}}
</div>
</body>
</html>
